:root{
    /* Variables to make colors easier to change if need be */
    --darkHeader: #30353D;
    --lightHeader: #9CD9D9;
    --contentColor: #445877;
    --background: #EEEEF7;
    --workFilter: #1233676c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    text-decoration: none;
    background-color: var(--background);
}

header{
    padding: auto;
    margin: 0 auto;
    background-color: var(--darkHeader);
    display: flex;
    /* Centers along the x axis */
    align-items: center;
    flex-wrap: wrap;
}

a{  
    /* Remove link decoration for all links */
    text-decoration: none;
}

h1{
    padding: 0.3%;
    margin: 14px 70px 14px 0px;
    flex: 1 0 430px;
    background-color: var(--lightHeader);
    color: var(--darkHeader);
    text-align: right;
    font-size: 250%;
    font-weight: bold;
}

nav{
    margin-right: 5%;
    /* High stretch, so nav grows faster than h1 */
    flex: 10;
    font-size: 130%;
    font-weight: bold;

}

nav ul{
    display: flex;
    flex-direction: row;
    /* Make list items appear on right of page */
    justify-content:flex-end;
    /* Remove bullet points */
    list-style: none;
}

nav li{
    padding: 10px;
    margin: 5px;
    /* Line underneath items */
    border-bottom: 4px solid var(--lightHeader);
}

/* Links in navigation */
nav a {
    color: var(--lightHeader);
}

.subtitle{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    /* image with gradient over it */
    background-image: linear-gradient(to bottom, #235e7c9d, #0a174288),
    url("../images/02-hero-bg.jpg");
    /* In case image doesn't show */
    background-color: var(--darkHeader);
    background-size: cover;
    background-position: center;
}

.subtitle h2{
    background-color: var(--lightHeader);
    color: var(--darkHeader);
    font-size: 220%;
    width:fit-content;
    padding:5px;
    /* Makes heading float above image */
    position: relative;
    top: 65%;
    right: -60vw;
}

.content{
    display: flex;
    flex-direction: row;
    color: var(--contentColor);
}

.side_label{
    flex:1 0 149px;
    margin: 10px;
    font-size: 250%;
    text-align: right;
}

.info{
    flex:10;
    padding: 20px;
    margin:10px;
    border-left: 4px solid var(--contentColor);
    font-size: 120%;
}

.workCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.workLabel{
    color: var(--darkHeader);
    background-color: var(--lightHeader);
    padding: 10px;
    width:fit-content;
}

/* Aligns label on bottom left of image */
#largeEx .workLabel{
    position: relative;
    top: 78%;
    left: 0%;
    transform: translate(0%, -22%);
}

/* Aligns label on bottom left of image */
.smallEx .workLabel{
    position: relative;
    top: 60%;
    left: 0%;
    transform: translate(0%, -40%);
}

.workLabel h4{
    font-size: 140%;
    font-weight: bold;
}

.workLabel p{
    font-size: 100%;
}

#largeEx{
    /* Adjusts size for biggest project */
    flex: 20 0 60%;
    height: 400px;
    border: 5px solid var(--lightHeader);
    margin: 10px;
    /* Adds image with filter */
    background-image:linear-gradient(var(--workFilter),var(--workFilter)), url(../images/02-portfolio-4.jpg);
}

/* Remove color filter on hover */
#largeEx:hover{
    background-image:url(../images/02-portfolio-4.jpg);
}

.smallEx{
    /* Adjusts size for smaller projects */
    flex:1 0 40%;
    height: 200px;
    border: 5px solid var(--lightHeader);
    margin: 10px;
}

/* Adds image with filter */
#led{
    background-image: linear-gradient(var(--workFilter),var(--workFilter)), url(../images/02-portfolio-1.jpg);
}

/* Remove color filter on hover */
#led:hover{
    background-image: url(../images/02-portfolio-1.jpg);
}

/* Adds image with filter */
#calculator{
    background-image: linear-gradient(var(--workFilter),var(--workFilter)), url(../images/02-portfolio-2.jpg);
}

/* Remove color filter on hover */
#calculator:hover{
    background-image: url(../images/02-portfolio-2.jpg);
}

/* Adds image with filter */
#puzzel{
    background-image: linear-gradient(var(--workFilter),var(--workFilter)), url(../images/02-portfolio-3.jpg);
}

/* Remove color filter on hover */
#puzzel:hover{
    background-image: url(../images/02-portfolio-3.jpg);
}

/* Adds image with filter */
#buddy{
    background-image: linear-gradient(var(--workFilter),var(--workFilter)), url(../images/02-run-buddy.jpg);
}

/* Remove color filter on hover */
#buddy:hover{
    background-image: url(../images/02-run-buddy.jpg);
}

#contact{
    display: flex;
    flex-direction: row;
    /* Remove bullet points */
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;
}

#contact li{
    padding: 10px;
    margin: 5px;
    border-bottom: 4px solid var(--contentColor);
}

/* Links in contact me */
#contact a {
    color: var(--contentColor);
}

/* Tablets */
@media screen and (max-width: 992px) {
    
    nav ul{
        /* Navigation orientation no longer on right */
        justify-content: space-around;
    }
    
    /* Turn orientation into column */
    .content{
        flex-direction: column;
    }

    /* Center and flatten text. Remove side border*/
    .side_label{
        flex:1;
        text-align: center;
    }

    /* Remove border */
    .info{
        flex:1;
        border-left:none;
    }
}

/* Smartphones */
@media screen and (max-width: 768px) {

    /* Adjust about me image to be on top of paragraph */
    #about_me .info{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    /* Work items change to column */
    .workCont{
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
    }

    /* Adjust size of work images */
    #largeEx,
    .smallEx{
        margin: 5px 0px;
        flex: 0 0 300px;
    }
}
