:root{
    /* Variables to make colors easier to change if need be */
    --darkHeader: #30353D;
    --lightHeader: #9CD9D9;
    --contentColor: #445877;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    text-decoration: none;
}

header{
    /* height: 50px; */
    padding: auto;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--darkHeader);
    display: flex;
    /* Centers along the x axis */
    align-items: center;
    flex-wrap: wrap;
}

h1{
    padding: 0.3%;
    margin: 14px 70px 14px 0px;
    flex: 1 0 430px;
    background-color: var(--lightHeader);
    color: var(--darkHeader);
    text-align: right;
    font-size: 250%;
    font-weight: bold;
}

nav{
    margin-right: 5%;
    flex: 10;
    font-size: 130%;
    font-weight: bold;

}

nav ul{
    display: flex;
    flex-direction: row;
    /* Make list items appear on right of page */
    justify-content:flex-end;
    /* Remove bullet points */
    list-style: none;
}

nav li{
    padding: 10px;
    margin: 5px;
    border-bottom: 4px solid var(--lightHeader);
}

/* Links in navigation */
nav a {
    text-decoration: none;
    color: var(--lightHeader);
}

/* visited link */
/* nav a:visited {
    text-decoration: none;
    color: var(--lightHeader);
} */

/* selected link */
/* nav a:active {
    text-decoration: none;
    color: var(--lightHeader);
} */

.subtitle{
    /* FIX */
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    /* image with gradient over it */
    background-image: linear-gradient(to bottom, #235e7c9d, #0a174288),
    url("../images/02-hero-bg.jpg");
    /* In case image doesn't show */
    background-color: var(--darkHeader);
    background-size: cover;
    background-position: center;
}

.subtitle h2{
    background-color: var(--lightHeader);
    color: var(--darkHeader);
    font-size: 220%;
    width: 180px;
    padding:5px;
    position: relative;
    top: 65%;
    left: 65vw;
}

.content{
    display: flex;
    flex-direction: row;
    color: var(--contentColor);
}

.side_label{
    flex:1 0 1%;
    margin: 10px;
    font-size: 250%;
    text-align: right;
}

.info{
    flex:4;
    padding: 20px;
    margin:10px;
    border-left: 4px solid var(--contentColor);
    font-size: 100%;
}

.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#largeEx{
    flex: 10;
    width: 100%;
    height:100%;
    background-image: url(../images/02-portfolio-4.jpg);
}

.smallEx{
    flex:1;
    width: 50%;
    height: 50%;;
}

#led{
    background-image: url(../images/02-portfolio-1.jpg);
}

#calculator{
    background-image: url(../images/02-portfolio-2.jpg);
}

#puzzel{
    background-image: url(../images/02-portfolio-3.jpg);
}

#buddy{
    background-image: url(../images/02-run-buddy.jpg);
}

/* .filter{
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: blue;
    opacity: 0.5;
} */
